<div id="footer">
	<div class="container">
		<div class="links">
			<a href="">RSS</a>|<a href="">源码地址</a>
		</div>
		<div class="fod">
			<p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
			<p>服务器赞助商为  <a href=""><img src="/imgs/FuIpEaM9bvsZKnQ3QfPtBHWQmLM9.png" alt="ucloud" width="92"></a> ，存储赞助商为  <a href=""><img src="/imgs/Fg0jtDIcTqVC049oVu5-sn6Om4NX.png" alt="七牛云存储" width="115"></a> ，由  <a href=""><img src="/imgs/FpMZk31PDyxkC8yStmMQL4XroaGD.png" alt="alinode" width="166" height="54"></a> 提供应用性能服务。</p>
		</div>
	</div>
</div>
</body>
</html>